@using TestASP.Web.Areas.Admin.Models.Questionnaire

@namespace TestASP.Web.Areas.Admin.Views.Questionnaire

@model AdminQuestionnaireViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"Admin - {(Model?.Id > 0 ? "Update" : "Add")} Questionnaire";
}
@if(Model != null)
{    
    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Add Questionnaire</h2>
            </div>
            <div class="card-body">
                <BootstrapInput asp-for="Name"/>
                <BootstrapInput asp-for="Description" type="textarea"/>
                <label>
                    Has Content?
                    <input type="checkbox" data-bs-toggle="toggle" data-bs-target="#Content"/>
                </label>
                <BootstrapInput hidden asp-for="Content" type="textarea"/>
            </div>
            <div class="card-footer">
                <BootstrapButton color="Success" button-type="Outline">Save</BootstrapButton>
            </div>
        </div>
    </form>
}

