@page "/Questionnaire"

@using TestASP.Model;
@using TestASP.Model.Questionnaires;
@using TestASP.Data.Enums;
@using TestASP.Common.Extensions;

@inherits AuthorizedPage

@inject IQuestionnaireService _questionnaireService
@inject ToastService _toastService

@if (Questionnaires != null)
{
    <Card>
        <BodyTemplate>
            <h5>Questionnaires</h5>
            <Row ItemsPerRow="ItemsPerRow.Three" RowType="RowType.Normal">
                @foreach (var questionnair in Questionnaires)
                {
                    <Card>
                        <HeaderTemplate>
                            @if (questionnair.IsAnswered)
                            {
                                @("Answered")
                                <label>Answered :</label>
                                <label class="ms-auto text-muted "> (@(questionnair.DateAnswered?.GetTimelapse()))</label>
                            }
                            else
                            {
                                <label>Not Answered</label>                                
                            }
                            @*@(questionnair.IsAnswered ? "Answered" : "Not Answered")*@ 
                        </HeaderTemplate>
                        <BodyTemplate>
                            <h5>@questionnair.Name</h5>
                            <p class="card-text">@questionnair.Description</p>                            
                        </BodyTemplate>
                        <FooterTemplate>
                            <div class="row gap-2">
                                <a class="col-15 col-sm-12 col-md-7 col-lg-5 text-center btn btn-primary" href="Questionnaire/@questionnair.Id/Answer">Answer</a>
                                @if (questionnair.IsAnswered)
                                {
                                    <a class="col-15 col-sm-12 col-md-7 col-lg-5 btn btn-primary" href="Questionnaire/@questionnair.Id/Answer/@questionnair.UserQuestionnaireId">Update</a>
                                }
                            </div>
                        </FooterTemplate>
                    </Card>
                }
            </Row>
        </BodyTemplate>
    </Card>
}
else if (IsLoading)
{
    <h1>Loading...</h1>
}
else
{
    <h1>QuestionnaireNot Found</h1>
}

@code {

    public List<UserQuestionnaireResponseDto> Questionnaires { get; set; }

    public bool IsLoading { get; set; } = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await GetLoggedInUser();
        if (firstRender && IsLoggedIn)
        {
            var getWithQuestionResult = await _questionnaireService.GetAsync(LoggedInUser?.Id ?? 0);
            if (getWithQuestionResult?.IsSuccess != true)
            {
                if (!string.IsNullOrEmpty(getWithQuestionResult.Error))
                {
                    await _toastService.Error("Retreiving Questionnaire Error", getWithQuestionResult.Error);
                }
                return;
            }
            Questionnaires = getWithQuestionResult.Data;
        }
        IsLoading = false;
        StateHasChanged();
    }
}

